
@{
    ViewData["Title"] = "Mission 3 | Grade Calculator";
}
@model GradeCalcModel;
<!--grade calculator-->
<div class="text-center" id="">
    <h4>Grade Calculator</h4>
    <small>Enter as numbers (i.e. 10% as 10)</small>
    <br />
    <br />
    <form method="post">
        <label>Assignments Score (Percent)</label><br />
        <input asp-for="asScore" id="assigScore" /><br />
        <span asp-validation-for="asScore" class="text-danger"></span><br /><br />

        <label>Group Project Score (Percent)</label><br />
        <input asp-for="grScore" id="groupScore" /><br />
        <span asp-validation-for="grScore" class="text-danger"></span><br /><br />

        <label>Quiz Score (Percent)</label><br />
        <input asp-for="quScore" id="quizScore" /><br />
        <span asp-validation-for="quScore" class="text-danger"></span><br /><br />

        <label>Exam Score (Percent)</label><br />
        <input asp-for="exScore" id="examScore" /><br />
        <span asp-validation-for="exScore" class="text-danger"></span><br /><br />

        <label>Intex Score (Percent)</label><br />
        <input asp-for="inScore" id="intexScore" /><br />
        <span asp-validation-for="inScore" class="text-danger"></span><br /><br />

        <button class="btn btn-large btn-primary" id="calGrade" type="submit">Calculate</button>
    </form>

</div>
<!--end grade calculator-->
<br />
<br />
<br />

<!--div that shows calculator results-->
<div id="" class="text-center">
    <h4>Grade Calculator Results</h4>
    @*<br />
    <p><strong>Assignment Score %: </strong></p>
    <p id="aScore"></p>
    <br />
    <p><strong>Group Score %: </strong></p>
    <p id="gScore"></p>
    <br />
    <p><strong>Quiz Score %: </strong></p>
    <p id="qScore"></p>
    <br />
    <p><strong>Exam Score %: </strong></p>
    <p id="eScore"></p>
    <br />
    <p><strong>Intex Score %: </strong></p>
    <p id="iScore"></p>
    <br />*@
    <p><strong>Final Score: </strong></p>
    <p id="fScore"></p>
    <br />
</div>
<!--end div that shows calculator results-->
<br />
<br />
<br />
<br />
<br />
<br />
