
@{
    ViewData["Title"] = "Mission 3 | Grade Calculator";
}
@model GradeCalcModel;
<!--grade calculator-->
<div class="text-center" id="">
    <br />
    <h1 class="text-center">Grade Calculator</h1>
    <br />
    <small>Enter as numbers (i.e. 10% as 10)</small>
    <br />
    <br />
    <form method="post">
        <label>Assignments Score (Percent)</label><br />
        <input asp-for="asScore" id="assigScore" /><br />
        <span asp-validation-for="asScore" class="text-danger"></span><br /><br />

        <label>Group Project Score (Percent)</label><br />
        <input asp-for="grScore" id="groupScore" /><br />
        <span asp-validation-for="grScore" class="text-danger"></span><br /><br />

        <label>Quiz Score (Percent)</label><br />
        <input asp-for="quScore" id="quizScore" /><br />
        <span asp-validation-for="quScore" class="text-danger"></span><br /><br />

        <label>Exam Score (Percent)</label><br />
        <input asp-for="exScore" id="examScore" /><br />
        <span asp-validation-for="exScore" class="text-danger"></span><br /><br />

        <label>Intex Score (Percent)</label><br />
        <input asp-for="inScore" id="intexScore" /><br />
        <span asp-validation-for="inScore" class="text-danger"></span><br /><br />

        <button class="btn btn-large btn-primary" id="calGrade" type="submit">Calculate</button>
    </form>

</div>
<!--end grade calculator-->
<br />
<br />
<br />


