@*Main page*@
@{
    ViewData["Title"] = "Mission 3 | Home";
}
<!--basic info about me-->
<br />
<h1 class="text-center">Ryan Ward</h1>
<br />
<!--div to help center things-->
<div class="text-center">
    <img src="img/IMG_0721.jpeg" />
    <br /><br />
    <p>
        I hope to learn big boi programing in IS413. I really want to be able to develop and more fully cement my skills
        in web development and programming in general. I hope to also further my ability to figure out and solve problems
        by gaining another tool to help solve problems.

    </p>
    <br />
    <h4>Top 3 Jobs:</h4>
    <ol>
        <li>Salesforce Adminstration/Development</li>
        <li>Entrepreneurship</li>
        <li>(Dream) Venture Capital</li>
    </ol>
    <br />
</div>
<!--end div that helped center-->
<!--end of basic info about me-->