/*custom styles*/
img {
    height: 50%;
    width: 50%;
    margin-right:auto;
    margin-left:auto;
}

input {
    width:50% !important;
}

li{
    list-style-type:none;
}

div #displayR {
    display: none;
}
