<!--Ryan Ward-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="img/skiing.jpeg">
    <title>Mission 2 - Ryan Ward</title>
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/mystyles.css" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    <script src="lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="js/myjs.js"></script>
</body>
</html>
